.header__title {
    text-align: center;
}

.link-question {
    display: flex;
}

.link-question__input {
    margin-left: 10px;
}

.link-question__question {
    margin-left: 20px;
}

.btn-copy {
    margin-left: 60%;
}

.bid-body {
    border: 1px solid red;
}